<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <base href="/">
  <% for(let js of webAssets.js) { %>
    <script src="<%=js%>"></script>
    <% } %>
      <% for(let css of webAssets.css) { %>
        <link rel="stylesheet" href="<%=css%>">
        <% } %>

</head>

<body>
  <div class="cn-app-container" data-reload-interval="3600">
    <div class="cn-top-bar">
      <h1>
        <%=screenInfo.title%>
      </h1>
      <div class="cn-logo">
        <img src="<%=webAssets.headerLogo%>">
      </div>
    </div>
    <div class="cn-slider">
      <div class="swiper">
        <div class="swiper-wrapper">
          <% for(let page of screenInfo.pages) { %>
            <div class="swiper-slide" data-swiper-autoplay="<%=page.duration * 100%>"
              data-cn-bottom-text-visible="<%=page.showBottomText%>">
              <div class="cn-slide-wrapper">

                <div class="cn-image-or-video cn-<%=page.fileMode%>">
                  <% if(page.fileType==='image' ) { %>
                    <img src="<%=page.fileUrl%>" alt="<%=page.title%>">
                    <% } else if(page.fileType==='video' ) { %>
                      <video muted>
                        <source src="<%=page.fileUrl%>" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                      <% } %>
                </div>

                <% if(page.mode==='text-and-image' ) { %>
                  <div class="cn-text">
                    <h2>
                      <%=page.title%>
                    </h2>
                    <div><%-page.description%></div>
                  </div>
                  <% } %>
              </div>
            </div>
            <% } %>
        </div>
      </div>
    </div>
    <div class="cn-bottom-bar">
      <div class="cn-text" style="animation-duration: <%=screenInfo.bottomText.length / 15%>s;">
        <%-screenInfo.bottomText%>
      </div>
    </div>
  </div>
</body>

</html>